name: Lint

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        go-version: ["1.21", "1.22"]
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out Go module
        uses: actions/checkout@v4

      - name: Tidy Go module
        run: |
          go mod tidy
          test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy' and submit your changes"; exit 1)

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
