name: Linux Test

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        go-version: ["1.20", "1.21"]
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out Go module
        uses: actions/checkout@v3

      - name: Run tests
        run: make test
