name: Linux Integration Test

on:
  pull_request: {}
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        go-version: ["1.21", "1.22"]
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out Go module
        uses: actions/checkout@v4

      - name: Run integration tests
        run: make integration

      - name: goveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: cover-int.out
